* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
}

header > h1 {
    text-align: center;
    color: #E52F6F;
    margin-top: 20px;
}

.box{
    display: inline-block;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

main > section {
    margin:  30px auto 0 auto;
    width: 80%;
    text-align: center;
}
.Float {
    float: left;
    background-color: #0F0E17;
    color: white;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 60px;
    margin-right: 40px;
}

.photos {
    width: 100px;
    height: 100px;
}

.text {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
}

.name {
    padding-bottom: 5px;
}
      
.profession {
    padding-bottom: 10px;
    padding-top: 10px;
}

.mail {
    color: #3DBDFC;
    padding-top: 10px;
}