* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

header > h1 {
    text-align: center;
    color: #E52F6F;
    margin-top: 20px;
}

/*.clearfix:after {
    content: none;
    display: table;
    clear: both;
}*/

main > section {
    border: 1px solid black;
    margin:  30px auto 0 auto;
    width: 80%;
    text-align: center;
}

.Float {
    float: left;
    background-color: #0F0E17;
    color: white;

}

.photos {
    width: 100px;
    height: 100px;
}

.text {
    display: inline-block;
}